<!DOCTYPE html>
<html class="desktop mbr-site-loaded"><head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="templates/assets/images/logo4.png" type="image/x-icon">
  
  
  <title>login</title>
  <link rel="stylesheet" href="templates/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="templates/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="templates/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="templates/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="templates/assets/tether/tether.min.css">
  <link rel="stylesheet" href="templates/assets/theme/css/style.css">
  <link rel="preload" as="style" href="templates/assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="templates/assets/mobirise/css/mbr-additional.css" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital@0;1&amp;display=swap" rel="stylesheet">
  <style type="text/css" id="jarallax-clip-0">
      body{
          font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
      }
      h1, h2, h3, h4, h5, h6{
          font-family: 'Lato', sans-serif !important;
      }
  </style>
  
  
</head>
<body><section id="top-1" class="engine"><a href="https://mobirise.ws">Mobirise Website Builder</a> v4.12.3</section>
    <div class="col-md-12">
        <div class="media-container-row" style="min-height: 100vh;">
            
            <div data-form-type="formoid">
                <div class="menu-logo col-3">
              <div class="navbar-brand">
                  <span class="navbar-logo">
                      <a href="/">
                          <img src="/templates/images/ozy_1.svg" alt="Mobirise" title="" style="height: 2.8rem;">
                          
                      </a>
                  </span>
  
              </div>
          </div>
                              <!---Formbuilder Form--->
                              <form action="/getreg" method="POST" class="mbr-form form-with-styler centrado" data-form-title="Form"><input type="hidden" name="email" data-form-email="true" value="WNsyQVlrTS0unTdN3OCz+C4CSsb9B09qqdJut6A7jq4tIdy+EGJr7OZMKzRbjKy2eY5yiRnhPWdKiOAh2QIO1eyuFNAMghQz97yJ06EVsdPc9XF5k9Neyqzpb9YxnYBp">
                                    <div class="row">
                                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                        </div>
                                    </div>
                                    <div class="dragArea row" style="padding:5vh">

                                        <div class=" col-md-12 form-group">
                                            <h2 style="color: #3A506B;font-weight: bold;">Crea tu cuenta</h2>
                                        </div>
                                        <div data-for="name" class="col-md-12  form-group">
                                            <input type="text" name="name" placeholder="Nombre" data-form-field="name" class="form-control input display-7">
                                        </div>     
                                        <div data-for="ape_p" class="col-md-12  form-group">
                                            <input type="text" name="ape_p" placeholder="Apellido Paterno" data-form-field="ape_p" class="form-control input display-7">
                                        </div>
                                        <div data-for="ape_m" class="col-md-12  form-group">
                                            <input type="text" name="ape_m" placeholder="Apellido Materno" data-form-field="ape_m" class="form-control input display-7">
                                        </div>                                       
                                        <div data-for="email_user" class="col-md-12  form-group">
                                            <input type="text" name="email_user" placeholder="Mail" data-form-field="Email" class="form-control input display-7" required="" id="email-form4-e">
                                        </div>
                                        <div class="col-md-12  form-group" data-for="nick">
                                            <input type="text" name="nick" placeholder="Usuario" data-form-field="Nick" required="" class="form-control input display-7" id="nick-form4-e">
                                        </div>
                                        <div data-for="name" class="col-md-12  form-group">
                                            <input type="password" name="passw" placeholder="Contraseña" data-form-field="name" class="form-control input display-7">
                                        </div>                                         
                                                                                
                                        <div class="col-md-12 input-group-btn  mt-2 align-center">
                                            
                                        <button type="submit" class="btn btn-primary btn-form display-4" style="background-color: #3A506B !important;border-color: #3A506B !important;">Registrar</button></div>
                                    </div>
                                </form><!---Formbuilder Form--->
                            </div>
              
 
            <div class="pl-lg-5 fondozy centrado transparencia medio" style="min-height: 100vh;position: relative;background-image: url(/templates/images/back_login.png);">
                <!--<div style="opacity: 0.9;background-color: rgb(75, 12, 130);bottom: 0;position: absolute;right: 0;top: 0;width: 60%;"></div>-->

                <div class="container" style="position: relative;z-index: 9;">
                <h1 class="mbr-section-title align-left mbr-bold pb-3 mbr-fonts-style display-1 blanco" style="text-align:center">Bienvenido</h1>

                <h4 class="mbr-section-subtitle align-left mbr-light pb-3 mbr-fonts-style display-2 blanco">
                Estás a unos clicks de optimizar tu ocio
                </h4>

                </div>
            </div>
             </div>   
        </div>
    
   



  <script src="templates/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="templates/assets/popper/popper.min.js"></script>
  <script src="templates/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="templates/assets/tether/tether.min.js"></script>
  <script src="templates/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="templates/assets/parallax/jarallax.min.js"></script>
  <script src="templates/assets/theme/js/script.js"></script>
  <script src="templates/assets/formoid/formoid.min.js"></script>
  
  

</body></html>